# Environment Variables
.env
.conda

# Compiled python files
__pycache__

# Gameboy ROM files
*.gb
*.ram

# Run data
data/variable_starting_states
data/sessions
data/logs
board/

# Temp files
~*

# Hyperparameter tuning temp files
*.db
logs/