# Environment Variables
.env
.conda

# Notebooks for testing
*.ipynb

# Gameboy ROM files
*.gb
*.ram

# Run data
data/variable_starting_states
data/sessions

# Temp files
~*

# Compiled python files
__pycache__